html, body{
  margin: 0;
  min-width: 665px;
}

body{
  -webkit-font-smoothing: antialiased;
}

/*header*/
.main_header{
  text-align: center;
  background: #212121;
  padding-bottom: 35px;
  -webkit-box-shadow: 0px 0px 3px 6px #212121;
  -moz-box-shadow: 0px 0px 3px 6px #212121;
  box-shadow: 0px 0px 3px 6px #212121;
}

#my_name{
  font-family: "Big Caslon","Book Antiqua","Palatino Linotype",Georgia,serif;
  font-weight: bold;
  font-size: 70px;
  color: white;

  margin-top: 0;
  margin-bottom: 15px;
  padding: 10px 0 12px 0;
}

.main_menu{
  font-family: "Lucida Sans Typewriter","Lucida Console",monaco,"Bitstream Vera Sans Mono",monospace;
  width: 100%;
  margin: auto;
  margin-top: 20px;
}

.main_menu a{
    text-decoration: none;
    font-weight: bold;

    border: solid #DCEDC8;
    border-radius: 5px;
    color: black;
    background: white;
    padding: 5px 15px 6px 15px;
    min-width: 10%;
    display:inline-block;
}
.main_menu a:hover{
  color: #757575;
}
/*body*/
body{
  background: #DCEDC8;
}
/*body-home*/

/*body-about*/
.main_content{
  margin: 5% 20% 15% 20%;
}
strong{
  color: #F44336;
}
h2{
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
}

header h2,h3{
  color: #FFFFFF;
}
.card{
  border: solid #212121;
  border-radius: 8px;
  margin: 5% 2% 5% 2%;
  padding: 1%;
  background: #FFFFFF;
  position: relative;
}
.card h3{
  color: black;
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  position: absolute;
  left: 8px;
  top: -1.35em;
  margin: 0;
  padding: 0 0.5em 0 0.5em;
  background: #FFFFFF;
  border: #212121;
  border-radius: 8px 8px 0 0;
  border-style: solid solid none solid;
}
/* .card ul li{
  display: inline;
} */
.card ul li span{
  font-weight: bold;
  display: inline;
}
.card ul li p{
  display: inline;
  margin-left: 1.5em;
}
/*footer*/
.before_footer{
  text-align: center;
  font-weight: bold;
  bottom: 0;
  margin-bottom: 20px;
  width: 100%;
  border-top: 1px dashed #757575;
}
.before_footer a{
  text-decoration: none;
  font-weight: bold;

  border: solid black;
  border-radius: 5px;
  color: black;
  background: white;
  padding: 5px 15px 6px 15px;
}
.before_footer a:hover{
  color: #757575;
}
/* h4{
  margin: 10px;
  font-weight: bold;
  font-size: 2em;
} */
.global_footer{
  bottom: 0;
  width: 100%;
  margin-top: 10px;
  border-top: 1px solid #757575;
}
.global_footer p{
    float: right;
    margin-right: 20px;
}
